 .header {
     display: block;
 }

 .navpar {
     display: flex;
 }

 .navpar a {
     color: #0D0E43;
     font-size: 16px;
     margin-left: 35px;
     text-decoration: none;

 }

 .navpar a:hover {

     color: #FB2E86
 }

 .row .search i {
     width: 20px;
     height: 20px;
     background-color: #FB2E86;
     padding-left: 14px;
     padding-top: 7px;
     padding-bottom: 6.5px;
     padding-right: 13px;

     margin-left: -45px;
 }

 .row .search input {
     width: 240px;
     height: 30px;

 }

 /* the end of the header section */

 body .parent1 {
     display: flex;
     background-color: #F2F0FF;
     height: 600px;
 }

 body .parent1 .child1_parent1_logo {
     margin-left: -30px;
 }

 body .parent1 .child2_parent1 {

     margin-top: 180px;
     width: 580px;
     margin-left: -80px;
 }

 body .parent1 .child2_parent1 .p1 {
     font: var(--mainfont);
     color: #FB2E86;
     font-size: 16px;
     margin-bottom: 30px;
 }

 body .parent1 .child2_parent1 h1 {
     letter-spacing: 1.5px;
     font-size: 50px;
     font-weight: normal;
     line-height: 65px;
     margin-top: -10px;
     margin-bottom: 14px;
     ;

 }

 body .parent1 .child2_parent1 .p2 {
     font: var(--mainfont);
     font-size: 16px;
     line-height: 27px;
     color: #8A8FB9
 }

 body .parent1 .child2_parent1 button {
     background-color: #FB2E86;
     color: white;
     font-size: 17px;
     padding-left: 27px;
     padding-right: 27px;
     padding-top: 8px;
     padding-bottom: 8px;
     border-color: #FB2E86;
     border-style: none;
     margin-top: 25px;

 }

 body .parent1 .child3_parent1 .sofa {
     margin-top: 20px;
     margin-left: 50px;
 }


 /* the end of the 1st body section */


 .parent2 .container .child1_parent2 {
     margin-top: 80px;
     margin-bottom: 50px;

 }


 .parent2 .container .child1_parent2 h1 {
     text-align: center;
     font-size: 42px;
     color: #1A0B5B;

 }

 .parent2 .container .child2_parent2 {

     display: flex;
     justify-content: space-around;
     align-items: center;
 }



 .parent2 .container .child2_parent2 img {
     background-color: #F6F7FB;

 }

 .parent2 .container .child2_parent2 .ch2 {
     background-color: #F7F7F7;
 }


 .parent2 .container .child2_parent2 .ch1 {
     padding-left: 35px;
     padding-right: 35px;
     padding-top: 35px;
     padding-bottom: 10px;
     width: 150px;
     height: 150px;
 }

 .parent2 .container .child2_parent2 .ch2 {
     padding-left: 55px;
     padding-right: 40px;
     padding-top: 24px;
     padding-bottom: 20px;

 }

 .parent2 .container .child2_parent2 .ch3 {
     padding-left: 40px;
     padding-right: 40px;
     padding-top: 46px;
     padding-bottom: 17px;
     width: 150px;
     height: 130px;
 }

 .parent2 .container .child2_parent2 .ch4 {
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 37px;
     padding-bottom: 27px;

     height: 130px;
 }


 .parent2 .container .child2_parent2 .chair-info {

     text-align: center;
     background-color: white;
     margin-top: -4px;
 }

 .parent2 .container .child2_parent2 .chair-info .name {
     color: #FB2E86;
     font: var(--mainfont);
     font-size: 18px;
     margin-top: 15px;
     margin-bottom: 12px;

 }

 .parent2 .container .child2_parent2 .chair-info .code {
     color: #151875;
     margin-top: 12px;
     margin-bottom: 12px;
     font-size: 14px;

 }

 .parent2 .container .child2_parent2 .chair-info .price {
     color: #151875;
     font: vra(--mainfont);
     font-size: 14px;
     margin-bottom: 10px;

 }


 .parent2 .container .child3_parent2 {
     margin-top: 40px;
     text-align: center;
     margin-bottom: 50px;
 }

 .parent2 .container .child2_parent2 .product {
     box-shadow: 0px 3px 7px .3px rgba(0, 0, 0, 0.1);

 }

 /* the end of the 2nd body section */


 .parent3 .container .child1_parent3 h1 {
     text-align: center;
     color: #151875;
     font-size: 42px;
     margin-bottom: 15px;
 }

 .parent3 .container .child2_parent3 a {
     color: #151875;
     text-decoration: none;
     font-size: 18px;
     font: var(--mainfont)
 }

 .parent3 .container .child2_parent3 a:hover {
     color: #FB2E86;
     text-decoration: underline;
 }

 .parent3 .container .child2_parent3 .row {
     justify-content: center;
     margin-bottom: 30px;
 }


 .parent3 .container .child3_parent3 .leatest-product .product-info .price-info p {
     display: inline;
 }

 .parent3 .container .child3_parent3 .leatest-product .product-info .price-info .before {
     color: #151875;
     font-size: 14px;
 }

 .parent3 .container .child3_parent3 .leatest-product .product-info .price-info .after {
     color: #FB2448;
     font-size: 12px;
     text-decoration: line-through;
 }

 .parent3 .container .child3_parent3 .leatest-product .product-info .name {
     color: #151875;
     font-size: 16px;
     margin-right: 70px;

 }

 .parent3 .container .child3_parent3 .leatest-product .product-info {
     display: flex;
     margin-top: 7px;

 }


 .parent3 .container .child3_parent3 .leatest-product .img-row1 {
     display: block;
     margin: auto;
     background-image: url("../image/leatest_products/frame1.png");
     background-repeat: no-repeat;
     background-size: cover;
     padding-right: 65px;
     padding-left: 60px;
     padding-top: 20px;
     padding-bottom: 7px;

 }

 .parent3 .container .child3_parent3 .leatest-product .img-row2 {
     display: block;
     margin: auto;
     background-image: url("../image/leatest_products/frame1.png");
     background-repeat: no-repeat;
     background-size: cover;
     padding-right: 40px;
     padding-left: 30px;
     padding-top: 20px;
     padding-bottom: 7px;

 }

 .parent3 .container .child3_parent3 .leatest-product .pro2-frame {
     display: block;
     margin: auto;
     background: none;
     background-color: white;
     width: 170px;
     height: 171px;
 }


 .parent3 .container .child3_parent3 .leatest-product .pro6-frame {
     display: block;
     margin: auto;
     background-image: url("../image/leatest_products/frame1.png");
     background-repeat: no-repeat;
     background-size: cover;
     padding-right: 17px;
     padding-left: 15px;
     padding-top: 20px;
     padding-bottom: 7px;
 }


 .parent3 .container .child3_parent3 .row {

     gap: 7px;
     justify-content: space-around;
     margin-bottom: 60px;


 }

 .parent3 .container .child3_parent3 .mod {

     gap: 15px;
     justify-content: space-evenly;
     margin-bottom: 45px;


 }

 /* the end of the 3rd body section */

 .parent4 .container .child1_parent4 h1 {

     text-align: center;
     font-size: 42px;
     color: #151875;
     margin-bottom: 50px;

 }

 .parent4 .container .child2_parent4 .service {

     background-color: white;
     height: 300px;
     width: 220px;
     box-shadow: 0px 3px 7px .3px rgba(0, 0, 0, 0.1);
     text-align: center;
     position: relative;

 }

 .parent4 .container .child2_parent4 .service .x {

     margin: 0;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);


 }

 .parent4 .container .child2_parent4 .service .x .date {

     margin-bottom: 15px;
     margin-top: 15px;

 }

 .parent4 .container .child2_parent4 .service .x .p {

     width: 200px
 }

 .parent4 .container .child2_parent4 .row {

     gap: 20px;
     justify-content: space-around;

 }

 /* the end of the 4th body section */

 .parent5 {

     background-color: #F1F0FF;
     height: 520px;

 }

 .parent5 .container .child1_parent5 img {

     height: 520px;
     width: 520px;

 }


 .parent5 .container .child2_parent5 p {

     display: inline;

 }

 .parent5 .container .child2_parent5 .maintopic p {

     color: #151875;
     font-size: 35px;
     padding-bottom: 30px;

 }

 .parent5 .container .child2_parent5 .maintopic {

     margin-bottom: 30px;

 }

 .parent5 .container .child2_parent5 .points p {

     color: #ACABC3;
     font-size: 16px;
     line-height: 35px;

 }

 .parent5 .container .child2_parent5 .txt p {

     display: block;
     color: #151875;
     font-size: 14px;

 }

 .parent5 .container .child2_parent5 .row {

     margin-top: 30px;

 }

 .parent5 .container .child2_parent5 button {

     background-color: #FB2E86;
     color: white;
     font-size: 17px;
     padding: 14px 24px;
     border-color: #FB2E86;
     border-style: none;

 }

 .parent5 .container .child2_parent5 {

     width: max-content;
     height: 300px;

     margin-left: -80px;

 }



 /* the end of the 5th body section */

 .parent6 {

     margin-top: 120px;
     height: 650px;

     margin-bottom: 120px;
 }

 .parent6 .child1_parent6 h1 {
     font-size: 42px;
     margin-bottom: 30px;
     color: #151875
 }

 .parent6 .container {
     text-align: center;
 }

 .parent6 .child2_parent6 .row {
     gap: 20px;
     justify-content: space-evenly;
 }


 .parent6 .child2_parent6 .product {
     background-color: white;
     padding: 8px 8px;
 }

 .parent6 .child2_parent6 .product .name {
     color: #151875;
     font-size: 16px;
     font-weight: 700px;
     margin-top: 10px;
     margin-bottom: 7px;
 }

 .parent6 .child2_parent6 .product .row1-price {
     display: flex;
     gap: 8px;
     justify-content: center;
     align-items: center;
     margin-bottom: 12px;

 }

 .parent6 .child2_parent6 .product .row1-price .before {
     color: #151875;
     font-size: 14px;
 }

 .parent6 .child2_parent6 .product .row1-price .after {
     color: #1518754D;
     font-size: 12px;
 }

 .parent6 .child2_parent6 {

     margin-bottom: 30px;
 }

 .parent6 .child3_parent6 .row {
     gap: 14px;
     justify-content: start
 }

 .parent6 .child3_parent6 .row .element1 {
     height: 230px;
     width: 350px;
     background-color: #FFF6FB;
     text-align: start
 }

 .parent6 .child3_parent6 .row .name {
     color: #151875;
     font-size: 26px;
     margin-left: 16px;
     margin-bottom: 8px;
     ;
     margin-top: 18px;
 }

 .parent6 .child3_parent6 .row .shop a {
     color: #FB2E86;
     font-size: 16px;
     margin-left: 16px;
 }

 .parent6 .child3_parent6 .row .img {
     display: flex;
     flex-direction: row-reverse;
 }


 .parent6 .child3_parent6 .row .element2 {
     height: 230px;
     width: 350px;
     background-color: #EEEFFB;
     text-align: start
 }

 .parent6 .child3_parent6 .row .element3 {
     display: flex;
     flex-direction: column;
     height: 230px;
     width: 200px;
     justify-content: flex-start;
     gap: 33px;

 }

 .parent6 .child3_parent6 .row .element3 .child {
     display: flex;
     text-align: start;
     align-items: center;

 }

 .parent6 .child3_parent6 .row .element3 .child img {
     background-color: #F5F6F8;
     padding: 10px 18px;
     margin-right: 5px;
 }


 .parent6 .child3_parent6 .row .element3 .child .txt .p1 {
     color: #151875;
     font-size: 15px;
 }


 .parent6 .child3_parent6 .row .element3 .child .txt .p2 {
     color: #151875;
     font-size: 12px;
     text-decoration: line-through;
 }



 .parent6 {

     
 }

 /* the end of the 6th body section */

 .footer{
    background-color: #EEEFFB;
    height: 300px;
 }


 .footer .child1_footer .row{
    color:#000000;
    justify-content: start;
    font-size: 22px;
    gap: 300px;
 }

 .footer .child2_footer .row .part{
  width: 200px;
  background-color: #000000;
 }